[core]
        pager = less -FRX

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[submodule]
	recurse = false

[alias]
        # https://git-scm.com/book/en/v2/Git-Tools-Submodules#Useful-Aliases
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
